/*generelt*/

p {
    margin: 20px;
    text-align: justify;
    color: #3f2504;
    font-family: "Lato", sans-serif;



}

iframe {
    margin: 20px;
}

img {
    margin: 20px;
}


h1 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    /*    padding-left: 39px;*/
    color: #3f2504;
    padding-top: 20px;
    text-align: center;
}


/*-------P-TEXT-----*/

.w3-center {
    font-size: 1.7em
}


/*---------section--------------*/

section {
    max-width: 1200px;
    margin: 0 auto;
}


/*------section slut-----------*/

html {
    height: 100%;
    line-height: 1.8;
    background-color: #F4e5c8;
    font-family: "Lato", sans-serif;

}

/* Baggerundsbilleder: parallax scrolling*/

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("billeder/splash_logo_03.jpg");
    min-height: 650px;
}

.bgimg-2 {
    background-image: url("billeder/AdobeStock_40190829.jpg");
    min-height: 250px;
}

.bgimg-3 {
    background-image: url("billeder/coffee-571245571.jpg");
    min-height: 250px;
}

.bgimg-4 {
    background-image: url("billeder/espresso-ground-coffee-beans-1296x728.jpg");
    min-height: 250px;
}

.bgimg-5 {
    background-image: url("billeder/Screenshot_20180315-144950.jpg");
    min-height: 300px;
}


/* Fjerner parallax scrolling på tablets og mobil */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-4,
    .bgimg-5 {
        background-attachment: scroll;
    }
}


/*------SECTION: OM -----------*/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}

#om .column {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #om .column {
        width: 100%;
    }
}

#om .video {
    display: flex;
    align-items: center;
    justify-content: center;

}

#om iframe {
    width: 560px;
    height: 315px;
    border: 0;

}

#om img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #om img {
        width: 100%;
    }
}

#om .bottom {
    width: 100%;
}

#om h2 {
    font-family: "Lato", sans-serif;
    color: #3f2504;
    font-size: 1.5em;
    padding-left: 31px;
}


/*---------- SECTION: KAFFEN -------------*/

#kaffen .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#kaffen .column_wide {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #kaffen .column_wide {
        width: 100%;
    }
}

#kaffen .top {
    display: flex;
    flex-wrap: wrap;

}

#kaffen .txt {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #kaffen .txt {
        width: 100%;
    }
}

#kaffen .image {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #kaffen .image {
        width: 100%;
    }
}

#kaffen img {
    width: 90%;
    height: auto;
}

#kaffen .bottom {
    display: flex;
    flex-wrap: wrap-reverse;
}


#kaffen .txt h2 {
    color: #3f2504;
    font-family: "Lato", sans-serif;
    padding-left: 20px;

}

/*------- SECTION: FAIRTRAID ------*/

#fairtrade .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#fairtrade .column_wide {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #fairtrade .column_wide {
        width: 100%;
    }
}

#fairtrade .top_row {
    display: flex;
    flex-wrap: wrap;

}

#fairtrade .txt {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #fairtrade .txt {
        width: 100%;
    }
}

#fairtrade .image {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #fairtrade .image {
        width: 100%;
    }
}

#fairtrade .middle_row {
    display: flex;
    flex-wrap: wrap-reverse;

}

#fairtrade img {
    width: 95%;
    height: auto;
}

#fairtrade .bottom_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fairtrade .bottom_row img {
    width: 97%;
}

#fairtrade .txt h2 {
    color: #3f2504;
    font-family: "Lato", sans-serif;
    padding-left: 20px;
}




/*---------Section: billeder ------*/

#billeder .image {
    margin-bottom: 50px;
    padding-right: 35px;
}

#billeder h2 {
    text-align: center;
    color: #3f2504;
    padding-top: 20px;
    padding-bottom: 10px;
}


/*-------SECTION: KONTAKT ---------*/

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

}

#kontakt .w3-half {
    margin-bottom: 10px;
}

#kontakt .column_1 {
    padding-top: 65px;
}


/*----------- FOOTER -----------*/

footer {
    background-color: #252525;
    color: #f4e5c8;
}

footer p {
    font-size: 1.9em;
    color: #f4e5c8;
    text-align: center;

}

footer .til_top {
    margin: 20px;
    padding-top: 20px;
    text-align: center;

}

footer .sociale_medier {
    text-align: center;
    font-size: 2em;
}




/*-------------Section: Webshop--------*/

#webshop .column_webshop {
    text-align: center;

}
